{% extends "base.html" %}

{% block title %}
    Вход
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_login.css') }}">
    <script src="{{ url_for('static', filename='login.js') }}" defer></script>
{% endblock %}


{% block main %}
    <div class="card">
    <div class="hi_text">
        <p>Вас приветствует Flowers Syst!</p>
        <p>Данная система разработана, чтобы помочь вам следить за состоянием почвы ваших растений и помогать вам заботиться о них.</p>
        <p>Чтобы начать пользоваться сайтом пройдите регистрацию или войдите в уже созданный профиль.</p>
    </div>
    <div class="login_field">
        <div class="text">
            <p class="log">Вход</p>
            <p class="data_user">Логин:</p>
            <input type="text" id="login_tb">
            <p class="data_user">Пароль:</p>
            <input type="password" id="password_tb">
            <p class="reg">Регистрация</p>
            <input class="log_but" type="button" value="Войти" id="login_but">
        </div>
    </div>
</div>
{% endblock %}
