{% extends "base.html" %}
{% block title %}
    Растения
{% endblock %}

{% set active = 'plants' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_plant.css') }}">
{% endblock %}


{% block main %}
    <div class="card">
        {% for plant in plants %}
            <div class="one_card">
                <div>
                    <img src="{{ url_for('static', filename='logo.png') }}" height="160">
                </div>
                <div class="text">
                    <p class="text_1">{{ plant.name }}</p>
                    <p>До полива:</p>
                    <p>{{ plant.next_watering if plant.next_watering is not none else '?' }} дней</p>
                    <p>Средний цикл:</p>
                    <p>{{ plant.average_cycle if plant.average_cycle is not none else '?' }} дней</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
