{% extends "base.html" %}

{% block title %}
    Профиль
{% endblock %}

{% set active = 'profile' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_profile.css') }}">
{% endblock %}

{% block main %}
    <div class="card">
        <div class="people_card">
            <div>
                <img src="{{ url_for('static', filename='logo.png') }}" height="160" alt="Фото аккаунта">
            </div>
            <div>
                <p>Владелец:</p>
                <p>{{ name }}</p>
                <p>{{ email }}</p>
            </div>
        </div>
        <div class="about_plants">
            <div class="text">
                <p>Количество растений:</p>
                <p>{{ plant_count }}</p>
                <p>Система автополива:</p>
                <p>не подключена</p>
                <p>Зимний режим:</p>
                <label class="switch">
                    <input type="checkbox" {{ 'checked' if winter_mode }}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <input class="sensor" type="button" value="Подключить датчик">
        <input class="automatic_watering" type="button" value="Подключить систему автополива">
    </div>
{% endblock %}
