<!DOCTYPE html>
<html>
    <head>
        <title>Flowers Syst</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="style_profile.css">
    </head>

    <body>
        <header>
            <div class="head">
                <div class="logo">
                    <img src="logo.png" height="50">
                    <label>Flowers Syst</label>
                </div>
                <div class="menu">
                    <a href="plant.html">Растения</a>
                    <a href="schedule.html">Графики</a>
                    <a href="profile.html" class="act">Профиль</a>
                </div>
            </div>
            <div class="line"></div>
        </header>

        <main>
            <div class="card">
                <div class="people_card">
                    <div>
                        <img src="logo.png" height="160">
                    </div>
                    <div>
                        <p>Владелец:</p>
                        <p>Кэтти</p>
                        <p>kydryavceva.ket@gmail.com</p>
                    </div>
                </div>
                <div class="about_plants">
                    <div class="text">
                        <p>Количество растений:</p>
                        <p>3</p>
                        <p>Система автополива:</p>
                        <p>не подключена</p>
                        <p>Зимний режим:</p>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <input class="sensor" type="button" value="Подключить датчик">
                <input class="automatic_watering" type="button" value="Подключить систему автополива">
            </div>
        </main>
    </body>

    <footer>
        <div class="inf">
            <div>
                <p>Контактная информация:</p>
                <p>flowers.syst@gmail.com</p>
            </div>
            <div>
                <p><a href="plant.html">Растения</a></p>
                <p><a href="schedule.html">Графики</a></p>
                <p><a href="profile.html">Профиль</a></p>
            </div>            
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="ticketBooking.js"></script>

</html>