{% extends "base.html" %}

{% block title %}
    Графики
{% endblock %}

{% set active = 'plots' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_schedule.css') }}">
{% endblock %}

{% block main %}
    <div class="card">
        <div class="one_card">
            <div>
                <img src="{{ url_for('static', filename='logo.png') }}" height="160">
            </div>
            <div class="text">
                <p class="text_1">Эхеверия</p>
                <p>До полива:</p>
                <p>5 дней</p>
                <p>Средний цикл:</p>
                <p>13 дней</p>
                <p>Зимний режим:</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="graf"> График </div>
        </div>
        <div class="one_card">
            <div>
                <img src="logo.png" height="160">
            </div>
            <div class="text">
                <p class="text_1">Эхеверия</p>
                <p>До полива:</p>
                <p>5 дней</p>
                <p>Средний цикл:</p>
                <p>13 дней</p>
                <p>Зимний режим:</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="graf"> График </div>
        </div>
        <div class="one_card">
            <div>
                <img src="logo.png" height="160">
            </div>
            <div class="text">
                <p class="text_1">Эхеверия</p>
                <p>До полива:</p>
                <p>5 дней</p>
                <p>Средний цикл:</p>
                <p>13 дней</p>
                <p>Зимний режим:</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="graf"> График </div>
        </div>
    </div>
{% endblock %}
